<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base/main.html' %}

    {% block content %}
    <div class="header-bar"> 
        <a href="{% url 'tasks' %}"> &#8592;Go Back</a>
    </div>
    
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure want to delete this task ?</p>
            <input class="button" type="submit" value="Delete"> 
        </form>
    </div>
    
    
    
    {% endblock content %}
</body>
</html>